/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .navbar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 18px 0px;
    align-items: baseline;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .container {
    width: 1200px;
    margin: 0 auto;
    color: white;
    text-align: center;
  }

  .btn {
    position: inherit;
    margin-right: 27%;
  }

  .btn button {
    background-color:green;
    border: 3px solid black;
    font-size: 15px;
    width: 110px;
    height: 40px;
    color:white;
    font-weight:lighter;
    padding-right: 0;
    cursor: pointer;
    box-shadow: 5px 2px 2px black; 
  }



